article.tableContainer {
    /* margin-bottom: 60px; */
     margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 83vw;
}
table#employees{
    background-color: #ffffff;
    /* width: 83vw; */
    /* width: auto; */
    width: 1420px;
    border-radius: 6px;
    border-style: hidden; 
    box-shadow: 0 10px 24px 3px rgba(15, 34, 205, 0.05);
    border-collapse: separate;
    border-spacing: 0;
}


@media only screen and (max-width: 1512px) {
    article.tableContainer{
        overflow-x:scroll;
        align-items: flex-start;
        width: 90vw;
    }

    article.tableContainer::-webkit-scrollbar {
        width: 10px;
    }

    article.tableContainer::-webkit-scrollbar-track {
        background: rgba(255,255,255,0);
    }

    article.tableContainer::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background:rgba(30, 31, 32, 0.16);
    }

}

@media only screen and (max-width: 420px) {
    article.tableContainer{
        width: 86%;
    }
}


table#employees th.tableHead {
    padding: 20px;
    text-align: left;
    background-color: #0F22CD;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 78px;
  }
  
  table#employees th.tableHead:last-child{
    /* width: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  table#employees tr.tableRow:first-child th.tableHead:first-child {
    border-top-left-radius: 6px;
  }
  
  table#employees tr.tableRow:first-child th.tableHead:last-child {
    border-top-right-radius: 6px;
  }
  
  table#employees tr.tableRow:last-child td.tableData:first-child {
    border-bottom-left-radius: 6px;
  }
  
  table#employees tr.tableRow:last-child td.tableData:last-child {
    border-bottom-right-radius: 6px;
  }
  table#employees tr:not(:last-child) td.tableData {
    border-bottom: 1px solid hsl(204, 42%, 84%);
  }
  table#employees tr.tableRow td.tableData{
    padding: 0px 20px;
    text-align: left;
    color: #74777A;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    height: 60px;
  }
  
  table#employees tr.tableRow td.tableData:nth-child(1){
    width: 200px;
  }
  table#employees tr.tableRow td.tableData:nth-child(2){
    width: 140px;
  }
  table#employees tr.tableRow td.tableData:nth-child(3){
    width: 160px;
  }
  table#employees tr.tableRow td.tableData:nth-child(4){
    /* width: 160px; */
    width: 258px;
  
  }
  table#employees tr.tableRow td.tableData:nth-child(5){
    width: 280px;
  }
  table#employees tr.tableRow td.tableData:nth-child(6){
    width: 180px;
  }
  table#employees tr.tableRow td.tableData:nth-child(7){
    width: 100px;
  }
  table#employees tr.tableRow td.tableData:nth-child(8){
    /* width: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  table#employees tr.tableRow.status.notDeleted span.tableSpan{
    background-color: #ffffff;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    width: 69.23px;
    height: 35px;
  }
  table#employees tr.tableRow.status.deleted span.tableSpan{
    background-color: #fa64751e;
    color: #FA6476;
    padding: 8px;
    border-radius: 5px;
  }
  
  table#employees tr.tableRow td.tableData i.tableI {
    cursor: pointer;
  }
  table#employees tr.tableRow td.tableData input.tableInput {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    color: #74777A;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: all .3s ease;
  }
  
  
  
  table#employees tr.tableRow td.tableData input.tableInput[type='date']{
    background-color: #ffffff;
  }
  table#employees tr.tableRow td.tableData input.tableInput[type='date']:focus{
    padding-right: 2px;
  }
  table#employees tr.tableRow td.tableData input.tableInput[type='date']::-webkit-calendar-picker-indicator{
    opacity: 0.6;
    cursor: pointer;
    filter: invert(0.1);
  }
  
  table#employees tr.tableRow td.tableData input.tableInput:focus{
    outline: none;
    /* border: 1.5px solid rgba(15, 34, 205, 1); */
    box-shadow: inset 0 0 0 1.6px rgba(15, 34, 205, 1);
    padding-left: 6px;
    border-radius: 6px;
    background-color: rgba(15, 34, 205, 0.03);
    /* color: #0F22CD; */
    color: hsl(210, 3%, 12%);
  }


  article.btns-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }